<!-- /src/views/partials/footer.ejs -->
<footer class="footer">
    <p class="copyright">&copy; <%= new Date().getFullYear() %> Little Man Harley</p>
    <a href="/admin" class="login_button">Login</a>
</footer>