<!-- /src/views/partials/header.ejs -->
<header class="header">
    <div class="link_area">
        <a href="/" class="home_link">Little Man Harley</a>
        <nav class="nav_bar">
            <a href="/bio" class="nav_button">Bio</a>
            <a href="/gallery" class="nav_button">Gallery</a>
            <a href="/best" class="nav_button">Best Moments</a>
        </nav>
    </div>
    <form class="search_form" action="/search" method="GET">
        <input class="search_input" type="text" name="q" placeholder="Search photos...">
        <button class="search_button" type="submit">Search</button>
    </form>
</header>